build/
*.swp
main
*.spv
!tests/*.spv
!examples/bench/shaders/*.spv
.ipynb_checkpoints/
.vscode/
examples/bench/*.txt
examples/bench/*.csv

# Thesis temporary files.
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.toc
*.log
*.synctex*